@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    ::selection {
        background-color: #c6c6c6;
        color: var(#191919);
    }
    
    body {
        color: #343a40;
        background-color: #eee;
    }
    
    a {color: #005e81;}
    a:hover {color: #333;}

    .navbar-default {
        background: #eaeaea;
        background: -moz-linear-gradient(top, #eaeaea 0%, #f8f8f8 100%);
        background: -webkit-linear-gradient(top, #eaeaea 0%,#f8f8f8 100%);
        background: linear-gradient(to bottom, #eaeaea 0%,#f8f8f8 100%);


    }

    .navbar-brand {color:#777}

    #wrap > .container {
        color: #333;
        background: #fff;
    }
    #wrap > .container > h3 {color:#777}

    .overlay {
        background: rgba(255,255,255,0.7);
        background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 100%);
        background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 100%);
        background: -o-radial-gradient(center, ellipse farthest-corner, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 100%);
        background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(255,255,255,0.3)), color-stop(1, rgba(255,255,255,0.7)));
        background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 100%);
        background: radial-gradient(ellipse farthest-corner at center, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 100%);
    }

    .scrollbar {height: calc(100vh - 90px - 60px);}

    #footer {
        height: 60px;
        position: fixed;
        border-top: 1px solid #e2e2e2;
        background: #f8f8f8;
        background: -moz-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
        background: -webkit-linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
        background: linear-gradient(to bottom, #f8f8f8 0%,#eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 );
    }

    #footer > .container {
        height: 60px;
        line-height: calc(60px / 2);
    }

    #footer > .container > #pageload {
        line-height: calc(60px + 1px);
        color: #777;
    }
}